/* 中心内容区域 */
.music_block{
    display: flex;
    width: 300px;
    height: 260px;
    background-color: rgb(235, 235, 235);
    border-radius: 10%;
    position:absolute;
    top:30%;
    left: 10%;
    box-shadow: 0px 10px 20px 0.1px rgb(124, 126, 124);
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s, height 1s, transform 1s;
}
.music_block1{
    display: flex;
    width: 300px;
    height: 260px;
    background-color: rgb(235, 235, 235);
    border-radius: 10%;
    position:absolute;
    top:30%;
    left: 40%;
    box-shadow: 0px 10px 20px 0.1px rgb(124, 126, 124);
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s, height 1s, transform 1s;
}
.music_block2{
    display: flex;
    width: 300px;
    height: 260px;
    background-color: rgb(235, 235, 235);
    border-radius: 10%;
    position:absolute;
    top:30%;
    left: 70%;
    box-shadow: 0px 10px 20px 0.1px rgb(124, 126, 124);
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s, height 1s, transform 1s;
}
.img1{
    display: inline-block;
    width: 290px;
    height: 150px;
    border-radius: 10%/20%;
    position: relative;
    margin: 0 auto;
    top: 2%;
}
.music_block audio{
    position:absolute;
    top: 75%;
    left: 6%;
    width: 260px;
}
.music_block1 audio{
    position:absolute;
    top: 75%;
    left: 6%;
    width: 260px;
}
.music_block2 audio{
    position:absolute;
    top: 75%;
    left: 6%;
    width: 260px;
}
.music_block #p1{
    position: absolute;
    top: 65%;
    left: 5%;
    width: 300px;
}
.music_block1 #p1{
    position: absolute;
    top: 65%;
    left: 5%;
    width: 300px;
}    
.music_block2 #p1{
    position: absolute;
    top: 65%;
    left: 5%;
    width: 300px;
}
.music_block:hover{
    transform: scale(1.1);
    
}
.music_block1:hover{
    transform: scale(1.1);
    
}
.music_block2:hover{
    transform: scale(1.1);   
}
.yinbo{
    position: fixed;
    width: 100%;
}
 
.webspk{
    position: fixed;
    left: 20px;
    top: 85%;
    height: 60px;
    width: 60px;
    box-shadow: 0px 1px 10px 1px rgba(99, 99, 99, 0.5);
    background: rgb(255, 255, 255);
    border-radius: 50px;
    text-align: center;
    }
.webspk p{
    text-align: center;
    margin-top: 33%;
    font-size: 12px;
  }
